/* General styles */

a {
  color: inherit;
  display: block;
  text-decoration: none;
}

.module > a + a,
denim-card + denim-card {
  margin-top: 15px;
}

denim-card {
  max-width: 100%;
}

form {
  margin: 15px;
}

form denim-button {
  float: right;
  margin-top: 15px;
}
